[submodule "packages/core/lib/forge-std"]
	path = packages/core/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/core/lib/openzeppelin-contracts"]
	path = packages/core/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/core/lib/solmate"]
	path = packages/core/lib/solmate
	url = https://github.com/transmissions11/solmate
